#text-color{
    color:violet ;
}

#background-color{
    background-color: cyan;
}

#color-name{
    color: magenta;
}

#rgb-value{
    color: rgb(0, 255, 0);
}

#rgba-value{
    background-color:rgba(255, 0, 0, 0.5) ;
}

#hsl-value{
    color:hsl(240, 70, 50) ;
}

#hex-value{
    color: #f3498b;
}

#color-wheel{
    color: rgb(162, 214, 162);
}